.App .maze-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .maze-container .maze {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

.App .maze-container .maze li p{
  display: inline;
  padding: 10px;
}