.App .maze-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App .maze-container .maze-config {
  padding: 10px;
}

.App .maze-container .maze-config select {
  padding: 5px;
  width: 10vw;
  text-align: center;
  font-size: 20px;
}

.App .maze-container .maze {
  list-style: none;
  padding: 0;
  margin: 0;
}

.App .maze-container .maze li {
  display: flex;
  cursor: pointer;
}

.App .maze-container .maze li:first-child {
  border-top: 1px solid black;
}

.App .maze-container .maze li:last-child {
  border-bottom: 1px solid black;
}

.App .maze-container .maze li p {
  display: inline;
  height: 100%;
  padding: 20px;
  font-size: 0;
}

.App .maze-container .maze li p:first-child {
  border-left: 1px solid black;
}

.App .maze-container .maze li p:last-child {
  border-right: 1px solid black;
}

.config0 {
  background-color: black;
}

.config1 {
  background-color: white;
}

.config2 {
  background-color: orange;
}

.config3 {
  background-color: green;
}

.borderOn:first-child {
  border-top: 1px solid black;
}

.borderOn p {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.borderOn p:last-child {
  border-right: 1px solid black;
}

.borderOn:last-child p {
  border-bottom: none;
}